body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-image: url("/images/internet-information-technology-businessman-hand-showing-concept-75784736.webp");
}

header {
  position: relative;
}

.header-container {
  position: relative;
  background-image: url('/images/digital-information-technology-binary-world-concept-computer-generated-background-graphics-digital-information-technology-binary-134563649.webp'); 
  background-size: cover;
  background-position: center;
  height: 200px; 
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
}

h3, h4, h5, h6 {
  color: white;
  font-size: large;
  text-align: end;
}

ul {
  list-style-type: square;
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;
  background-color: rgb(13, 13, 59);
  color: white;
  padding: 10px;
}

.footer-links ul {
  list-style: none;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  nav {
    top: 10px;
    right: 10px;
  }

  section {
    padding: 10px;
  }
}

n {
  color: white;
}

section {
  background-image: url('/images/Cyber\ Security.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: #333;
  padding: 50px 0;
}
